@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Black.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-email:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Raleway";
  font-size: 1.1875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 68.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

@supports (padding-left: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem )) {
  [class*=__container] {
    padding-left: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem )) {
  [class*=__container] {
    padding-left: calc(0.625rem + 0.625 * (100vw - 29.99875rem) / 18);
  }
}

@supports (padding-right: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem )) {
  [class*=__container] {
    padding-right: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem )) {
  [class*=__container] {
    padding-right: calc(0.625rem + 0.625 * (100vw - 29.99875rem) / 18);
  }
}

[class*=__container-big] {
  max-width: 77.5rem;
  padding: 0 0.625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  min-height: 200vh;
  position: relative;
}

.logo {
  font-weight: 900;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  background-color: #4BA87D;
  white-space: pre;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #4BA87D;
}

@-webkit-keyframes spin {
  0% {
    rotate: z 0turn;
  }

  100% {
    rotate: z 1turn;
  }
}

.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 0.625rem 0;
  -webkit-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
  background-color: #fff;
}

.header._header-scroll {
  position: fixed;
  top: -100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: top 0.7s ease, opacity 0.5s ease;
  -o-transition: top 0.7s ease, opacity 0.5s ease;
  transition: top 0.7s ease, opacity 0.5s ease;
}

@supports (min-height: clamp( 2.5rem , 0.3762554754rem  +  4.4245829831vw , 3.75rem )) {
  .header._header-scroll .header__container-big {
    min-height: clamp( 2.5rem , 0.3762554754rem  +  4.4245829831vw , 3.75rem );
  }
}

@supports not (min-height: clamp( 2.5rem , 0.3762554754rem  +  4.4245829831vw , 3.75rem )) {
  .header._header-scroll .header__container-big {
    min-height: calc(2.5rem + 1.25 * (100vw - 47.99875rem) / 28.25125);
  }
}

.header._header-show {
  -webkit-transition: top 0.7s ease, opacity 0.5s ease;
  -o-transition: top 0.7s ease, opacity 0.5s ease;
  transition: top 0.7s ease, opacity 0.5s ease;
  top: 0;
  opacity: 1;
}

.header__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (min-height: clamp( 3.75rem , 1.6262554754rem  +  4.4245829831vw , 5rem )) {
  .header__container-big {
    min-height: clamp( 3.75rem , 1.6262554754rem  +  4.4245829831vw , 5rem );
  }
}

@supports not (min-height: clamp( 3.75rem , 1.6262554754rem  +  4.4245829831vw , 5rem )) {
  .header__container-big {
    min-height: calc(3.75rem + 1.25 * (100vw - 47.99875rem) / 28.25125);
  }
}

.menu {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.1881277377rem  +  2.2122914915vw , 1.875rem )) or (column-gap: clamp( 1.25rem , 0.1881277377rem  +  2.2122914915vw , 1.875rem ))) {
  .menu {
    -webkit-column-gap: clamp( 1.25rem , 0.1881277377rem  +  2.2122914915vw , 1.875rem );
       -moz-column-gap: clamp( 1.25rem , 0.1881277377rem  +  2.2122914915vw , 1.875rem );
            column-gap: clamp( 1.25rem , 0.1881277377rem  +  2.2122914915vw , 1.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.1881277377rem  +  2.2122914915vw , 1.875rem )) or (column-gap: clamp( 1.25rem , 0.1881277377rem  +  2.2122914915vw , 1.875rem ))) {
  .menu {
    -webkit-column-gap: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 28.25125);
       -moz-column-gap: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 28.25125);
            column-gap: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 28.25125);
  }
}

.menu__logo {
  line-height: 0.8536585366;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@supports (font-size: clamp( 1.375rem , -0.005433941rem  +  2.875978939vw , 2.1875rem )) {
  .menu__logo {
    font-size: clamp( 1.375rem , -0.005433941rem  +  2.875978939vw , 2.1875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , -0.005433941rem  +  2.875978939vw , 2.1875rem )) {
  .menu__logo {
    font-size: calc(1.375rem + 0.8125 * (100vw - 47.99875rem) / 28.25125);
  }
}

.menu__logo::before {
  margin-right: 0.5714285714em;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 5px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.1764705882;
  letter-spacing: 0.0747058824em;
}

@supports ((-moz-column-gap: clamp( 1.5rem , 0.0133788328rem  +  3.0972080881vw , 2.375rem )) or (column-gap: clamp( 1.5rem , 0.0133788328rem  +  3.0972080881vw , 2.375rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.5rem , 0.0133788328rem  +  3.0972080881vw , 2.375rem );
       -moz-column-gap: clamp( 1.5rem , 0.0133788328rem  +  3.0972080881vw , 2.375rem );
            column-gap: clamp( 1.5rem , 0.0133788328rem  +  3.0972080881vw , 2.375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.5rem , 0.0133788328rem  +  3.0972080881vw , 2.375rem )) or (column-gap: clamp( 1.5rem , 0.0133788328rem  +  3.0972080881vw , 2.375rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.5rem + 0.875 * (100vw - 47.99875rem) / 28.25125);
       -moz-column-gap: calc(1.5rem + 0.875 * (100vw - 47.99875rem) / 28.25125);
            column-gap: calc(1.5rem + 0.875 * (100vw - 47.99875rem) / 28.25125);
  }
}

@supports (font-size: clamp( 0.6875rem , 0.0503766426rem  +  1.3273748949vw , 1.0625rem )) {
  .menu__list {
    font-size: clamp( 0.6875rem , 0.0503766426rem  +  1.3273748949vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.0503766426rem  +  1.3273748949vw , 1.0625rem )) {
  .menu__list {
    font-size: calc(0.6875rem + 0.375 * (100vw - 47.99875rem) / 28.25125);
  }
}

.menu__button {
  letter-spacing: 0.0747058824em;
  font-weight: 800;
  line-height: 1.1764705882;
}

@supports (padding-right: clamp( 0.75rem , -0.3727121221rem  +  2.3390445003vw , 1.25rem )) {
  .menu__button {
    padding-right: clamp( 0.75rem , -0.3727121221rem  +  2.3390445003vw , 1.25rem );
  }
}

@supports not (padding-right: clamp( 0.75rem , -0.3727121221rem  +  2.3390445003vw , 1.25rem )) {
  .menu__button {
    padding-right: calc(0.75rem + 0.5 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (padding-left: clamp( 0.75rem , -0.3727121221rem  +  2.3390445003vw , 1.25rem )) {
  .menu__button {
    padding-left: clamp( 0.75rem , -0.3727121221rem  +  2.3390445003vw , 1.25rem );
  }
}

@supports not (padding-left: clamp( 0.75rem , -0.3727121221rem  +  2.3390445003vw , 1.25rem )) {
  .menu__button {
    padding-left: calc(0.75rem + 0.5 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (padding-bottom: clamp( 0.375rem , -0.186356061rem  +  1.1695222502vw , 0.625rem )) {
  .menu__button {
    padding-bottom: clamp( 0.375rem , -0.186356061rem  +  1.1695222502vw , 0.625rem );
  }
}

@supports not (padding-bottom: clamp( 0.375rem , -0.186356061rem  +  1.1695222502vw , 0.625rem )) {
  .menu__button {
    padding-bottom: calc(0.375rem + 0.25 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (padding-top: clamp( 0.375rem , -0.186356061rem  +  1.1695222502vw , 0.625rem )) {
  .menu__button {
    padding-top: clamp( 0.375rem , -0.186356061rem  +  1.1695222502vw , 0.625rem );
  }
}

@supports not (padding-top: clamp( 0.375rem , -0.186356061rem  +  1.1695222502vw , 0.625rem )) {
  .menu__button {
    padding-top: calc(0.375rem + 0.25 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (font-size: clamp( 0.6875rem , -0.1545340916rem  +  1.7542833752vw , 1.0625rem )) {
  .menu__button {
    font-size: clamp( 0.6875rem , -0.1545340916rem  +  1.7542833752vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , -0.1545340916rem  +  1.7542833752vw , 1.0625rem )) {
  .menu__button {
    font-size: calc(0.6875rem + 0.375 * (100vw - 47.99875rem) / 21.37625);
  }
}

.icon-menu {
  display: none;
}

.footer {
  font-weight: 700;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #DBDBDB;
}

@supports (padding-right: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .main-footer {
    padding-right: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem );
  }
}

@supports not (padding-right: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .main-footer {
    padding-right: calc(3.125rem + 1.875 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (padding-left: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .main-footer {
    padding-left: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem );
  }
}

@supports not (padding-left: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .main-footer {
    padding-left: calc(3.125rem + 1.875 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem )) {
  .main-footer {
    padding-bottom: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem )) {
  .main-footer {
    padding-bottom: calc(2.5rem + 1.25 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (padding-top: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .main-footer {
    padding-top: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .main-footer {
    padding-top: calc(3.125rem + 1.875 * (100vw - 47.99875rem) / 20.75125);
  }
}

.main-footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.1923076923;
}

@supports (font-size: clamp( 1rem , -0.4456583941rem  +  3.011866755vw , 1.625rem )) {
  .main-footer__logo {
    font-size: clamp( 1rem , -0.4456583941rem  +  3.011866755vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1rem , -0.4456583941rem  +  3.011866755vw , 1.625rem )) {
  .main-footer__logo {
    font-size: calc(1rem + 0.625 * (100vw - 47.99875rem) / 20.75125);
  }
}

.main-footer__logo::before {
  margin-right: 0.3846153846em;
}

.main-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.1578947368;
}

@supports ((-moz-column-gap: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem )) or (column-gap: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem ))) {
  .main-footer__body {
    -webkit-column-gap: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem );
       -moz-column-gap: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem );
            column-gap: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem )) or (column-gap: clamp( 2.5rem , -0.3913167881rem  +  6.02373351vw , 3.75rem ))) {
  .main-footer__body {
    -webkit-column-gap: calc(2.5rem + 1.25 * (100vw - 47.99875rem) / 20.75125);
       -moz-column-gap: calc(2.5rem + 1.25 * (100vw - 47.99875rem) / 20.75125);
            column-gap: calc(2.5rem + 1.25 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (font-size: clamp( 0.75rem , -0.2619608759rem  +  2.1083067285vw , 1.1875rem )) {
  .main-footer__body {
    font-size: clamp( 0.75rem , -0.2619608759rem  +  2.1083067285vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , -0.2619608759rem  +  2.1083067285vw , 1.1875rem )) {
  .main-footer__body {
    font-size: calc(0.75rem + 0.4375 * (100vw - 47.99875rem) / 20.75125);
  }
}

.main-footer__row > *:not(:last-child) {
  margin-bottom: 0.625rem;
}

.main-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.main-footer__item {
  -webkit-transition: color ease-in-out 0.25s;
  -o-transition: color ease-in-out 0.25s;
  transition: color ease-in-out 0.25s;
}

.desc-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.875rem;
  line-height: 1.2;
}

@supports (padding-right: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .desc-footer {
    padding-right: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem );
  }
}

@supports not (padding-right: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .desc-footer {
    padding-right: calc(3.125rem + 1.875 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (padding-left: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .desc-footer {
    padding-left: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem );
  }
}

@supports not (padding-left: clamp( 3.125rem , -1.2119751822rem  +  9.035600265vw , 5rem )) {
  .desc-footer {
    padding-left: calc(3.125rem + 1.875 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4293416059rem  +  3.011866755vw , 2.5rem )) {
  .desc-footer {
    padding-bottom: clamp( 1.875rem , 0.4293416059rem  +  3.011866755vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4293416059rem  +  3.011866755vw , 2.5rem )) {
  .desc-footer {
    padding-bottom: calc(1.875rem + 0.625 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (padding-top: clamp( 1.875rem , 0.4293416059rem  +  3.011866755vw , 2.5rem )) {
  .desc-footer {
    padding-top: clamp( 1.875rem , 0.4293416059rem  +  3.011866755vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.4293416059rem  +  3.011866755vw , 2.5rem )) {
  .desc-footer {
    padding-top: calc(1.875rem + 0.625 * (100vw - 47.99875rem) / 20.75125);
  }
}

@supports (font-size: clamp( 0.5625rem , -0.3048950364rem  +  1.807120053vw , 0.9375rem )) {
  .desc-footer {
    font-size: clamp( 0.5625rem , -0.3048950364rem  +  1.807120053vw , 0.9375rem );
  }
}

@supports not (font-size: clamp( 0.5625rem , -0.3048950364rem  +  1.807120053vw , 0.9375rem )) {
  .desc-footer {
    font-size: calc(0.5625rem + 0.375 * (100vw - 47.99875rem) / 20.75125);
  }
}

.desc-footer__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.desc-footer__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.625rem;
}

.desc-footer__teams {
  -webkit-transition: color ease-in-out 0.25s;
  -o-transition: color ease-in-out 0.25s;
  transition: color ease-in-out 0.25s;
}

.desc-footer__policy {
  -webkit-transition: color ease-in-out 0.25s;
  -o-transition: color ease-in-out 0.25s;
  transition: color ease-in-out 0.25s;
}

.hero-section {
  position: relative;
}

@supports (margin-top: clamp( 8.4375rem , -0.684535992rem  +  19.0047365651vw , 12.5rem )) {
  .hero-section {
    margin-top: clamp( 8.4375rem , -0.684535992rem  +  19.0047365651vw , 12.5rem );
  }
}

@supports not (margin-top: clamp( 8.4375rem , -0.684535992rem  +  19.0047365651vw , 12.5rem )) {
  .hero-section {
    margin-top: calc(8.4375rem + 4.0625 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__container {
  position: relative;
}

@supports (max-width: clamp( 20.3125rem , -2.8434375183rem  +  48.2427928191vw , 30.625rem )) {
  .hero-section__body {
    max-width: clamp( 20.3125rem , -2.8434375183rem  +  48.2427928191vw , 30.625rem );
  }
}

@supports not (max-width: clamp( 20.3125rem , -2.8434375183rem  +  48.2427928191vw , 30.625rem )) {
  .hero-section__body {
    max-width: calc(20.3125rem + 10.3125 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (margin-bottom: clamp( 1.0625rem , 0.8599683544rem  +  1.0126582278vw , 1.5625rem )) {
  .hero-section__body > *:not(:last-child) {
    margin-bottom: clamp( 1.0625rem , 0.8599683544rem  +  1.0126582278vw , 1.5625rem );
  }
}

@supports not (margin-bottom: clamp( 1.0625rem , 0.8599683544rem  +  1.0126582278vw , 1.5625rem )) {
  .hero-section__body > *:not(:last-child) {
    margin-bottom: calc(1.0625rem + 0.5 * (100vw - 20rem) / 49.375);
  }
}

.hero-section__wrap {
  max-width: 92%;
}

@supports (margin-bottom: clamp( 1.0625rem , 0.8599683544rem  +  1.0126582278vw , 1.5625rem )) {
  .hero-section__wrap > *:not(:last-child) {
    margin-bottom: clamp( 1.0625rem , 0.8599683544rem  +  1.0126582278vw , 1.5625rem );
  }
}

@supports not (margin-bottom: clamp( 1.0625rem , 0.8599683544rem  +  1.0126582278vw , 1.5625rem )) {
  .hero-section__wrap > *:not(:last-child) {
    margin-bottom: calc(1.0625rem + 0.5 * (100vw - 20rem) / 49.375);
  }
}

.hero-section__wrap > *:last-child {
  margin-top: 0.5625rem;
}

.hero-section__title {
  font-family: "PlayfairDisplay";
  font-weight: 900;
  white-space: wrap;
  line-height: 1.2033898305;
}

@supports (font-size: clamp( 2.25rem , -0.977797351rem  +  6.7247529384vw , 3.6875rem )) {
  .hero-section__title {
    font-size: clamp( 2.25rem , -0.977797351rem  +  6.7247529384vw , 3.6875rem );
  }
}

@supports not (font-size: clamp( 2.25rem , -0.977797351rem  +  6.7247529384vw , 3.6875rem )) {
  .hero-section__title {
    font-size: calc(2.25rem + 1.4375 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__text {
  font-weight: 400;
  line-height: 1.3684210526;
}

@supports (font-size: clamp( 0.875rem , 0.1733049237rem  +  1.4619028127vw , 1.1875rem )) {
  .hero-section__text {
    font-size: clamp( 0.875rem , 0.1733049237rem  +  1.4619028127vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.1733049237rem  +  1.4619028127vw , 1.1875rem )) {
  .hero-section__text {
    font-size: calc(0.875rem + 0.3125 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

@supports (row-gap: clamp( 0.875rem , 0.0901898734rem  +  3.9240506329vw , 2.8125rem )) {
  .hero-section__buttons {
    row-gap: clamp( 0.875rem , 0.0901898734rem  +  3.9240506329vw , 2.8125rem );
  }
}

@supports not (row-gap: clamp( 0.875rem , 0.0901898734rem  +  3.9240506329vw , 2.8125rem )) {
  .hero-section__buttons {
    row-gap: calc(0.875rem + 1.9375 * (100vw - 20rem) / 49.375);
  }
}

.hero-section__button {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  background-color: #4BA87D;
  white-space: pre;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
  line-height: 1.1904761905;
  font-weight: 900;
  letter-spacing: 0.05em;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@supports (font-size: clamp( 0.8125rem , -0.3102121221rem  +  2.3390445003vw , 1.3125rem )) {
  .hero-section__button {
    font-size: clamp( 0.8125rem , -0.3102121221rem  +  2.3390445003vw , 1.3125rem );
  }
}

@supports not (font-size: clamp( 0.8125rem , -0.3102121221rem  +  2.3390445003vw , 1.3125rem )) {
  .hero-section__button {
    font-size: calc(0.8125rem + 0.5 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (min-width: clamp( 8.9375rem , 0.9381761301rem  +  16.6656920648vw , 12.5rem )) {
  .hero-section__button {
    min-width: clamp( 8.9375rem , 0.9381761301rem  +  16.6656920648vw , 12.5rem );
  }
}

@supports not (min-width: clamp( 8.9375rem , 0.9381761301rem  +  16.6656920648vw , 12.5rem )) {
  .hero-section__button {
    min-width: calc(8.9375rem + 3.5625 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (padding-bottom: clamp( 0.8125rem , -0.1698731068rem  +  2.0466639378vw , 1.25rem )) {
  .hero-section__button {
    padding-bottom: clamp( 0.8125rem , -0.1698731068rem  +  2.0466639378vw , 1.25rem );
  }
}

@supports not (padding-bottom: clamp( 0.8125rem , -0.1698731068rem  +  2.0466639378vw , 1.25rem )) {
  .hero-section__button {
    padding-bottom: calc(0.8125rem + 0.4375 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (padding-top: clamp( 0.8125rem , -0.1698731068rem  +  2.0466639378vw , 1.25rem )) {
  .hero-section__button {
    padding-top: clamp( 0.8125rem , -0.1698731068rem  +  2.0466639378vw , 1.25rem );
  }
}

@supports not (padding-top: clamp( 0.8125rem , -0.1698731068rem  +  2.0466639378vw , 1.25rem )) {
  .hero-section__button {
    padding-top: calc(0.8125rem + 0.4375 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #4BA87D;
}

.hero-section__button-active {
  color: #4BA87D;
  background-color: #fff;
}

.hero-section__button_ls {
  letter-spacing: 0.1em;
}

.hero-section__heroimg {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
}

@supports (top: clamp( -1.875rem , 0.1533901526rem  +  -2.9238056254vw , -1.25rem )) {
  .hero-section__heroimg {
    top: clamp( -1.875rem , 0.1533901526rem  +  -2.9238056254vw , -1.25rem );
  }
}

@supports not (top: clamp( -1.875rem , 0.1533901526rem  +  -2.9238056254vw , -1.25rem )) {
  .hero-section__heroimg {
    top: calc(-1.25rem + -0.625 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (margin-left: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem )) {
  .hero-section__heroimg {
    margin-left: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem );
  }
}

@supports not (margin-left: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem )) {
  .hero-section__heroimg {
    margin-left: calc(0.625rem + 0.625 * (100vw - 29.99875rem) / 18);
  }
}

@supports (margin-right: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem )) {
  .hero-section__heroimg {
    margin-right: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem );
  }
}

@supports not (margin-right: clamp( 0.625rem , -0.4166232639rem  +  3.4722222222vw , 1.25rem )) {
  .hero-section__heroimg {
    margin-right: calc(0.625rem + 0.625 * (100vw - 29.99875rem) / 18);
  }
}

@supports (max-width: clamp( 29.6875rem , 0.9180018712rem  +  59.9380153207vw , 42.5rem )) {
  .hero-section__heroimg {
    max-width: clamp( 29.6875rem , 0.9180018712rem  +  59.9380153207vw , 42.5rem );
  }
}

@supports not (max-width: clamp( 29.6875rem , 0.9180018712rem  +  59.9380153207vw , 42.5rem )) {
  .hero-section__heroimg {
    max-width: calc(29.6875rem + 12.8125 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__image-ibg {
  -webkit-filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.160784));
          filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.160784));
  padding-bottom: 56.18%;
}

.hero-section__decorations > * {
  z-index: -3;
  position: absolute;
}

.hero-section__item1 {
  top: -25.8064516129%;
  left: 14.4144144144%;
}

.hero-section__decoration1 {
  background-color: #EFE1BC;
  -webkit-animation: spin 10s infinite linear;
          animation: spin 10s infinite linear;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

@supports (width: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem )) {
  .hero-section__decoration1 {
    width: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem );
  }
}

@supports not (width: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem )) {
  .hero-section__decoration1 {
    width: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (height: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem )) {
  .hero-section__decoration1 {
    height: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem );
  }
}

@supports not (height: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem )) {
  .hero-section__decoration1 {
    height: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__item2 {
  top: -0.3125rem;
  left: -5.625rem;
}

.hero-section__decoration2 {
  width: 1rem;
  height: 1rem;
  background-color: #F4F4F4;
  opacity: 0.8;
  -webkit-animation: spin 10s infinite linear;
          animation: spin 10s infinite linear;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.hero-section__decoration3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #707070;
  border-radius: 50%;
  top: 74.1935483871%;
}

@supports (width: clamp( 0.4375rem , -0.123856061rem  +  1.1695222502vw , 0.6875rem )) {
  .hero-section__decoration3 {
    width: clamp( 0.4375rem , -0.123856061rem  +  1.1695222502vw , 0.6875rem );
  }
}

@supports not (width: clamp( 0.4375rem , -0.123856061rem  +  1.1695222502vw , 0.6875rem )) {
  .hero-section__decoration3 {
    width: calc(0.4375rem + 0.25 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (height: clamp( 0.4375rem , -0.123856061rem  +  1.1695222502vw , 0.6875rem )) {
  .hero-section__decoration3 {
    height: clamp( 0.4375rem , -0.123856061rem  +  1.1695222502vw , 0.6875rem );
  }
}

@supports not (height: clamp( 0.4375rem , -0.123856061rem  +  1.1695222502vw , 0.6875rem )) {
  .hero-section__decoration3 {
    height: calc(0.4375rem + 0.25 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (left: clamp( -2.5rem , 9.7727272727rem  +  -13.6363636364vw , 0.3125rem )) {
  .hero-section__decoration3 {
    left: clamp( -2.5rem , 9.7727272727rem  +  -13.6363636364vw , 0.3125rem );
  }
}

@supports not (left: clamp( -2.5rem , 9.7727272727rem  +  -13.6363636364vw , 0.3125rem )) {
  .hero-section__decoration3 {
    left: calc(0.3125rem + -2.8125 * (100vw - 69.375rem) / 20.625);
  }
}

.hero-section__item4 {
  top: 122.5806451613%;
  left: 1.25rem;
}

.hero-section__decoration4 {
  background-color: #F4BEBD;
  rotate: 45deg;
  -webkit-animation: spin 10s infinite linear;
          animation: spin 10s infinite linear;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

@supports (width: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem )) {
  .hero-section__decoration4 {
    width: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem );
  }
}

@supports not (width: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem )) {
  .hero-section__decoration4 {
    width: calc(1.5625rem + 0.9375 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (height: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem )) {
  .hero-section__decoration4 {
    height: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem );
  }
}

@supports not (height: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem )) {
  .hero-section__decoration4 {
    height: calc(1.5625rem + 0.9375 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__decoration5 {
  border-radius: 50%;
  background-color: #D9F4F2;
  top: -17.7419354839%;
  left: 55.5855855856%;
}

@supports (width: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem )) {
  .hero-section__decoration5 {
    width: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem );
  }
}

@supports not (width: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem )) {
  .hero-section__decoration5 {
    width: calc(1.5625rem + 0.9375 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (height: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem )) {
  .hero-section__decoration5 {
    height: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem );
  }
}

@supports not (height: clamp( 1.5625rem , -0.5425852289rem  +  4.3857084381vw , 2.5rem )) {
  .hero-section__decoration5 {
    height: calc(1.5625rem + 0.9375 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__item6 {
  top: -24.1935483871%;
  left: 78.3783783784%;
}

.hero-section__decoration6 {
  background-color: #F4F4F4;
  -webkit-animation: spin 10s infinite linear;
          animation: spin 10s infinite linear;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

@supports (width: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem )) {
  .hero-section__decoration6 {
    width: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem );
  }
}

@supports not (width: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem )) {
  .hero-section__decoration6 {
    width: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (height: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem )) {
  .hero-section__decoration6 {
    height: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem );
  }
}

@supports not (height: clamp( 1.25rem , -0.1533901526rem  +  2.9238056254vw , 1.875rem )) {
  .hero-section__decoration6 {
    height: calc(1.25rem + 0.625 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__item7 {
  top: -14.5161290323%;
  left: 95.4954954955%;
}

.hero-section__decoration7 {
  background-color: #000000;
  rotate: 45deg;
  -webkit-animation: spin 10s infinite linear;
          animation: spin 10s infinite linear;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

@supports (width: clamp( 2.5rem , -0.3067803052rem  +  5.8476112508vw , 3.75rem )) {
  .hero-section__decoration7 {
    width: clamp( 2.5rem , -0.3067803052rem  +  5.8476112508vw , 3.75rem );
  }
}

@supports not (width: clamp( 2.5rem , -0.3067803052rem  +  5.8476112508vw , 3.75rem )) {
  .hero-section__decoration7 {
    width: calc(2.5rem + 1.25 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (height: clamp( 2.5rem , -0.3067803052rem  +  5.8476112508vw , 3.75rem )) {
  .hero-section__decoration7 {
    height: clamp( 2.5rem , -0.3067803052rem  +  5.8476112508vw , 3.75rem );
  }
}

@supports not (height: clamp( 2.5rem , -0.3067803052rem  +  5.8476112508vw , 3.75rem )) {
  .hero-section__decoration7 {
    height: calc(2.5rem + 1.25 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__decoration8 {
  border: 1px solid #707070;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  top: -22.5806451613%;
  left: 104.0540540541%;
}

@supports (width: clamp( 0.625rem , -0.0766950763rem  +  1.4619028127vw , 0.9375rem )) {
  .hero-section__decoration8 {
    width: clamp( 0.625rem , -0.0766950763rem  +  1.4619028127vw , 0.9375rem );
  }
}

@supports not (width: clamp( 0.625rem , -0.0766950763rem  +  1.4619028127vw , 0.9375rem )) {
  .hero-section__decoration8 {
    width: calc(0.625rem + 0.3125 * (100vw - 47.99875rem) / 21.37625);
  }
}

@supports (height: clamp( 0.625rem , -0.0766950763rem  +  1.4619028127vw , 0.9375rem )) {
  .hero-section__decoration8 {
    height: clamp( 0.625rem , -0.0766950763rem  +  1.4619028127vw , 0.9375rem );
  }
}

@supports not (height: clamp( 0.625rem , -0.0766950763rem  +  1.4619028127vw , 0.9375rem )) {
  .hero-section__decoration8 {
    height: calc(0.625rem + 0.3125 * (100vw - 47.99875rem) / 21.37625);
  }
}

.hero-section__decoration9 {
  width: 0.6875rem;
  height: 0.6875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #707070;
  border-radius: 50%;
  top: 129.0322580645%;
  left: 47.7477477477%;
}

@media (max-width: 69.375em) {
  .hero-section__item7 {
    left: 94.5945945946%;
  }
}

@media (max-width: 61.99875em) {
  .hero-section__wrap {
    max-width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .header._header-scroll .menu__list {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .menu__logo::before {
    font-size: 1.375rem;
  }

  .menu__body {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }

  .menu__list {
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: visibility 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, visibility 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
    overflow-x: auto;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    row-gap: 1.25rem;
    padding: 0 0.9375rem;
    font-size: 1.125rem;
  }

  .menu__button {
    font-size: 1.125rem;
  }

  .menu-open .menu__list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    visibility: visible;
    opacity: 1;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 1.875rem;
        -ms-flex: 1.875rem 0 0px;
            flex: 1.875rem 0 0;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

@supports (padding-right: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem )) {
    .main-footer {
      padding-right: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem )) {
    .main-footer {
      padding-right: calc(0.3125rem + 2.8125 * (100vw - 20rem) / 27.99875);
    }
}

@supports (padding-left: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem )) {
    .main-footer {
      padding-left: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem )) {
    .main-footer {
      padding-left: calc(0.3125rem + 2.8125 * (100vw - 20rem) / 27.99875);
    }
}

@supports (padding-right: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem )) {
    .desc-footer {
      padding-right: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem )) {
    .desc-footer {
      padding-right: calc(0.3125rem + 2.8125 * (100vw - 20rem) / 27.99875);
    }
}

@supports (padding-left: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem )) {
    .desc-footer {
      padding-left: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -1.6965182597rem  +  10.0450912987vw , 3.125rem )) {
    .desc-footer {
      padding-left: calc(0.3125rem + 2.8125 * (100vw - 20rem) / 27.99875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 4.0178970043rem  +  -4.4644850217vw , 3.125rem )) {
    .desc-footer {
      padding-bottom: clamp( 1.875rem , 4.0178970043rem  +  -4.4644850217vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 4.0178970043rem  +  -4.4644850217vw , 3.125rem )) {
    .desc-footer {
      padding-bottom: calc(3.125rem + -1.25 * (100vw - 20rem) / 27.99875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8035514978rem  +  2.2322425108vw , 1.875rem )) {
    .desc-footer {
      padding-top: clamp( 1.25rem , 0.8035514978rem  +  2.2322425108vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8035514978rem  +  2.2322425108vw , 1.875rem )) {
    .desc-footer {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 27.99875);
    }
}

  .desc-footer__text {
    line-height: 2.1111111111;
  }

@supports (margin-top: clamp( 4.375rem , -2.3955512153rem  +  22.5694444444vw , 8.4375rem )) {
    .hero-section {
      margin-top: clamp( 4.375rem , -2.3955512153rem  +  22.5694444444vw , 8.4375rem );
    }
}

@supports not (margin-top: clamp( 4.375rem , -2.3955512153rem  +  22.5694444444vw , 8.4375rem )) {
    .hero-section {
      margin-top: calc(4.375rem + 4.0625 * (100vw - 29.99875rem) / 18);
    }
}

@supports (margin-bottom: clamp( 1.0625rem , 9.955522568rem  +  -18.5276128399vw , 6.25rem )) {
    .hero-section__body > *:first-child {
      margin-bottom: clamp( 1.0625rem , 9.955522568rem  +  -18.5276128399vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.0625rem , 9.955522568rem  +  -18.5276128399vw , 6.25rem )) {
    .hero-section__body > *:first-child {
      margin-bottom: calc(6.25rem + -5.1875 * (100vw - 20rem) / 27.99875);
    }
}

@supports (top: clamp( -0.9375rem , 6.0269152641rem  +  -14.5095763204vw , 3.125rem )) {
    .hero-section__heroimg {
      top: clamp( -0.9375rem , 6.0269152641rem  +  -14.5095763204vw , 3.125rem );
    }
}

@supports not (top: clamp( -0.9375rem , 6.0269152641rem  +  -14.5095763204vw , 3.125rem )) {
    .hero-section__heroimg {
      top: calc(3.125rem + -4.0625 * (100vw - 20rem) / 27.99875);
    }
}

  .hero-section__decorations {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__logo {
    font-size: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .desc-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .desc-footer__text {
    max-width: 11.5625rem;
  }

  .desc-footer__more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero-section__title {
    letter-spacing: 1.2px;
  }

  .hero-section__heroimg {
    max-width: 100%;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #fff;
    color: #4BA87D;
  }

  .menu__item {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__item::before {
    content: "";
    position: absolute;
    top: 100%;
    left: auto;
    width: 0px;
    height: 5px;
    background-color: #4BA87D;
    -webkit-transition: width 0.5s ease, opacity 0.4s ease;
    -o-transition: width 0.5s ease, opacity 0.4s ease;
    transition: width 0.5s ease, opacity 0.4s ease;
    opacity: 0;
  }

  .menu__item:hover::before {
    opacity: 1;
  }

@supports (width: clamp( 4.4375rem , 0.2961981771rem  +  8.627936817vw , 6.875rem )) {
    .menu__item:hover::before {
      width: clamp( 4.4375rem , 0.2961981771rem  +  8.627936817vw , 6.875rem );
    }
}

@supports not (width: clamp( 4.4375rem , 0.2961981771rem  +  8.627936817vw , 6.875rem )) {
    .menu__item:hover::before {
      width: calc(4.4375rem + 2.4375 * (100vw - 47.99875rem) / 28.25125);
    }
}

  .main-footer__item:hover {
    color: #4BA87D;
  }

  .desc-footer__teams:hover {
    color: #4BA87D;
  }

  .desc-footer__policy:hover {
    color: #4BA87D;
  }
}